*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root{
    --title: 2rem;
    --header: #F5EBE0;
    --mainContent: #FEFCF3;
    --cardColor: #F0DBDB;
    --titleFont:'MedievalSharp', cursive;
    --cardFont: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    height: 100%;
}
li{
    display: inline;
}

.header{
    display: flex;
    background-color: var(--header);
    flex-wrap: wrap;
    justify-content: space-between;
    min-height:90px ;
    align-items: center;
    padding: 0 2em 0 2em;
    font-size: var(--title);
    font-family: var(--titleFont)
}


.main-content{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 2rem;
    gap: 2rem;
    background-color: var(--mainContent);
    height: 92vh;
}

.book-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    width: 300px;
    padding: 2em;
    min-width: 100px;
    border-radius: 20px;
    background-color: var(--cardColor);
    font-family: var(--cardFont);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform .2s;
}

.card-content{
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-between;
}

button{
    background: #ffffff;
    border: none;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 15px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer; 
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.add{
    font-size: 1em;
    padding: 0;
}
.add:hover{
    transform:scale(1.2);
    background-color: rgba(0, 93, 146, 0.651);
}

.tick:hover{
    transform:scale(1.1) ;
    background-color: rgba(3, 119, 18, 0.651)
}
.cross:hover{
    transform:scale(1.1) ;
    background-color:rgba(153, 0, 0, 0.651);
}

.trash:hover{
    transform:scale(1.1) ;
    background-color: grey;
}


.yes:hover{
    transform: scale(1.1);
    box-shadow: rgba(3, 119, 18, 0.651) 0px 5px 15px;
}

.no:hover{
    transform: scale(1.1);
    box-shadow: rgba(153, 0, 0, 0.651) 0px 5px 15px;
}

.reading:hover{
    transform: scale(1.1);
    box-shadow: rgba(179, 152, 0, 0.651) 0px 5px 15px;
}


.add-book{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px; /* Negative half of height. */
    margin-left: -145px; /* Negative half of width. */
    height: 600px;
    width: 290px ;
}

.book-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    font-family: var(--cardFont);
    background-color:#ffffff;
    border-radius: 20px;
    height: 80%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

.book-info{
    font-weight: 700;
    font-size: 2em;
}



.book-form input{
        background-color: #DBA39A;
        border-radius: 12px;
        border: 0;
        color: #eee;
        font-size: 18px;
        height: 80%;
        outline: 0;
        padding: 4px 20px 0;
        width: 90%;
 }

 .book-button{
    display: flex;
    text-align: center;
    gap: 2em;
 }
 #submit, #back{
    background: #DBA39A;
    outline: 0;
    color: #eee;
    text-align: center;
    border: none;
    height: 58px;
    width: 57px;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer; 
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
 }

 .btn-book:hover{
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
 }

 





